.number {
  background-color: #eee;
  border: thin solid #ddd;
  width: 40px;
  height: 40px;
  margin: 10px;
  font-size: 22px;
}

.number:focus, .number:active {
  outline: none;
  border: thin solid #ddd;
}

button:not(:disabled) {
  cursor: pointer;
}
